.btn-default {
	@apply bg-[#F2F2F21A];
}

.btn-dark {
	@apply bg-[#1B1B1B];
}

.btn-cotizar {
	animation: colorChange 7s infinite; /* Ciclo completo de 8 segundos */
}

@keyframes colorChange {
	0%,
	12.5% {
		/* Color inicial */
		background-image: url("/assets/img/btn-background-min.png");
	}
	37.5%,
	50% {
		/* Transición suave hacia color 2 */
		background-image: url("/assets/img/btn-background2-min.png");
	}
	62.5%,
	75% {
		/* Color final */
		background-image: url("/assets/img/btn-background2-min.png");
	}
	87.5%,
	100% {
		/* Regresa al color inicial */
		background-image: url("/assets/img/btn-background-min.png");
	}
}
