@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

.app-bg {
	background-image: url("/assets/img/byfx-background2-min.png");
}

/* .app-layout::before {
	content: '';
	width: 100vw;
	height: 100vh;
	display: block;
	position: absolute;
	z-index: -10;
	background-image: url("/assets/img/byfx-background2-min.png");
} */

.custom-prev,
.custom-next {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
}

@import "../styles/components/buttons.css";
@import "../styles/components/input-phone.css";
@import "../styles/components/carousel.css";
@import "../styles/home.css";
@import "../styles/team.css";
@import "../styles/services.css";
@import "../styles/contact.css";
