@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.app-bg {
	background-image: url("/assets/img/byfx-background2-min.png");
}


.service-image {
	width: 320px;
	height: 170px;
}

@import '../styles/buttons.css';


@layer base {
  :root {
		--radius: 0.5rem;
	}
}